.questao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  width: 100%;
}
